$color-primary: #7209b7;
$color-primary-dark: #480ca8;
$color-primary-light: #b881da;

$color-secondary: #4c84cf;
$color-secondary-dark: #39639c;
$color-secondary-light: #8fb2e1;

$color-dark: black;

$color-white: white;
$color-white-secondary: #f5f5f5;
$color-white-tertiary: #858585;
