@import '../../sass/mixins.scss';

.Chart {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: center;
  .bar-chart {
    padding-top: 2rem;

    .ant-alert {
      padding: 2rem;
    }

    display: flex;
    align-items: center;
    flex-direction: column;
    canvas {
      margin: 2rem auto;
      width: 100%;
      height: 30rem;
    }
    width: 90%;
    height: 30rem;
  }

  @include sm {
    width: 100%;
    .bar-chart {
      height: 25rem;
    }
  }
}
