@import '../../sass/base.scss';

.navbar {
  background-color: $color-primary-dark;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: $color-white;
  .gear {
    border: 1px white solid;
    padding: 3px;
    border-radius: 30%;
  }
}
